:root {
  --background: #363636;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  padding: 0 8%
}

img {
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #D9D9D9;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF3E3E;
}

@media only screen and (min-width: 800px) {
  html {
    scroll-behavior: smooth;
    overflow-x: visible;
  }

}